
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');


#header {
    font-family: 'Fascinate', cursive;
    text-shadow: 2px 2px 5px red;
    text-align: center;
    font-size: 35px;
    color: #ffffff;
    position: fixed;
    left: 42.5%;
    top: 1px;
    z-index: -1;
}


.homeButton {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 3%;
    left: 23px;
}
.homeButton img{
    width: 90%;
}


.sidenav {
width: 200px;
position: fixed;
z-index: 1;
top: 25%;
left: 10px;
background: red;
overflow-x: hidden;
padding: 8px 0;
border-radius: 4px;
box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sidenav a {
padding: 6px 8px 6px 15px;
text-decoration: none;
font-size: 20px;
font-family: 'Montserrat', sans-serif;
color: #DDDDDD;
display: block;
}
.sidenav a:hover {
color: #df1515;
}


/* everthing falls in general */
.general {
    margin-left: 210px; /* Same width as the sidebar + left position in px */
    margin-top: 5%;
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    }


.main {
    background-color: #ff55be;

    position:fixed;
    width: 43%;

    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    color: #DDDDDD;
    z-index: -1;
}
.main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.main h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 35px;

}

.apparelselection{
}
.clothingPanel {
    background-color: rgb(255, 166, 215);
    width: 45%; /* or whatever width you want. */
    height: 45%;
    max-width:45%; /* or whatever width you want. */
    max-height: 45%;

    
    margin-left: 54%;
    margin-bottom: 20px;
    right: 2%;

    padding-left: 15px;

    display: inline-block;

    border-radius: 50px;
    border-style: dotted;
    border-color: red ;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#handPanel.clothingPanel{
    height: 30%;
}
#shoePanel.clothingPanel{
    height: 30%;
}
.clothingPanel img{
    width:20%;
    padding: 10px 10px 10px 10px;
}
#shoePanel.clothingPanel img{
    width: 200px;
    padding-left: 10%;
}






    /* Popup container */
.popup {
position: fixed;
right: 25%;
top: 25%;
display: inline-block;
cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
visibility: hidden;
width: 300px;
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
background-color: #999999;
color: #EEEEEE;
font-family: 'Kanit', sans-serif;
text-align: center;
border-radius: 50px;
padding: 8px 30px;
position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 8px;
border-style: solid;
border-color: #df93b3 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
visibility: visible;
-webkit-animation: fadeIn .25s;
animation: fadeIn .25s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
from {opacity: 0;}
to {opacity: 1;}
}

@keyframes fadeIn {
from {opacity: 0;}
to {opacity:1 ;}
} 
